term: 9
year: 2017
level: u
base_url: https://nstanlee.rutgers.edu/4/
site_url: localhost:5000
site_protocol: http
mail:
    MAIL_SERVER: <>
    MAIL_PORT: <>
    MAIL_USE_TLS: <>
    MAIL_USERNAME: <>
    MAIL_PASSWORD: <>
