do gedoged ogedogedogedo ge
do gedog edogedo ge
    dogedog edogedogedogedogedogedo
        ged ogedoged o ge dogedogedogedogedoge dog
    edogedoge
    do gedo gedogedogedogedoged ogedog edogedogedog ed
    oged ogedogedoged
      oged ogedogedogedoge dogedogedogedoged
        og edogedogedogedoged ogedoged ogedoged ogedo gedo gedoged ogedog edo gedo gedoge dog edog edog edoge doged oge dogedo ge dogedoged ogedoged ogedoge dog edoged oged og edo gedoged oge dogedoged ogedoge doge
      dogedo
      gedo gedogedogedoged ogedogedogedogedo
        gedog edogedogedo gedogedoged
            oge dogedogedogedog edogedog
                ed ogedogedogedogedogedoged ogedogedogedogedogedogedogedog ed
                og edogedogedogedogedogedoged ogedogedogedogedogedoge dogedog edo gedog edo gedoge dogedogedogedogedog ed
                og edogedogedogedogedogedogedogedog edogedogedogedog edoge dog edogedog edo ge
                do gedogedogedogedogedogedoge do
            gedog
            edog edogedogedogedogedogedogedo gedogedoge dogedogedo gedogedo gedoged ogedogedogedogedogedogedogedogedog
        edogedo
      gedoge
    dogedo
ge dogedoge do
