doge dogedo ged
ogedogedo gedog
edoged
    ogedog
        edogedo ge doged ogedo ge do gedogedo gedogedog edoged ogedog edogedog
        edoge dogedogedogedoge
        doged ogedogedogedoge dogedogedogedogedogedogedoge dogedogedogedoged
        ogedo gedogedogedogedo gedogedogedogedo gedogedog edogedogedogedoge dogedogedogedogedogedogedogedoged oge do
        gedog edogedogedogedog edogedogedogedog edogedoge dogedogedogedoged ogedogedogedogedogedogedoge dog ed
        ogedo gedogedogedogedo gedogedogedogedo gedogedog edogedogedogedoge dogedogedogedogedogedogedo ged og
        edoge dogedogedoged ogedo gedogedog edogedogedogedoge dogedogedogedogedogedogedog edo ge
        dogedog edogedogedogedogedogedo
            ged oged o gedo ge dog
            edogedogedogedogedogedoge dogedogedogedogedo
            gedogedogedogedogedogedogedoge

            dogedogedog e
                dog ed o gedogedogedogedogedogedogedogedog edogedo g edogedogedogedoged ogedoged o gedog
                edoged o gedogedog ed ogedogedogedogedogedogedog e dogedogedoged o gedogedogedog e dogedogedogedogedogedogedogedo
                ged o g edogedogedogedogedogedogedogedogedogedogedo gedogedogedogedogedogedogedog edo
            gedog
        edogedoge
    dogedog
    edoged
        oged ogedogedogedog edogedogedo
          gedo gedogedogedo
            gedo gedogedogedogedo gedogedogedog
              edogedo gedogedogedogedoge dogedoge dogedoge dogedo gedogedog edoge dogedogedoge dogedog edogedo gedogedo gedoge dogedoged ogedogedo
          gedoge
          dogedo
            gedo gedogedogedo
              gedo gedogedogedogedoge
                do gedog edogedo gedo gedogedo ge
              dogedo
            gedoge
			dogedog edogedogedogedoged ogedoged ogedoged ogedogedog edoged og edogedogedog edog edo ged ogedo gedogedog edoged ogedo gedogedogedo gedogedogedogedogedogedogedogedogedogedogedogedogedog
			edog
			edogedo ge do gedogedogedogedogedogedog edogedo gedogedoge dogedoge do ge dogedogedogedogedogedoge dogedogedoge dogedogedo ge do gedogedogedogedogedogedogedogedog edogedo gedogedogedogedog edo gedoge do ge dogedogedogedogedogedog edoge dogedoged oge dogedo gedogedo ge do gedogedogedogedogedogedogedogedoge dog edogedogedoged ogedogedo
        gedoge
        do gedogedogedogedogedogedogedogedogedoged ogedogedoge dogedogedogedoge dogedoged oged og edoged og edogedo ged ogedogedogedogedogedogedogedogedogedogedogedogedogedogedogedogedogedogedo gedogedog ed og edogedogedog
        edogedo gedogedogedogedogedoge dogedog edogedogedogedoge dogedogedogedogedogedogedoge dogedogedoged
        ogedoge dogedogedogedogedogedo gedoged ogedogedogedogedo gedogedogedogedogedogedogedoged ogedogedogedo
        gedoged ogedogedogedogedogedog edogedo gedogedogedogedog edogedogedogedogedoge dogedogedoged
        ogedoge dogedogedogedogedogedo gedoged ogedogedogedogedo gedogedogedogedogedogedoged ogedogedogedo
    gedoged
ogedoge
